body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

.profile-container {
    display: flex;
    width: 1024px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-image {
    position: relative;
    margin-right: 20px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-image button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 200px;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 5px;
}


.user-report {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1024px;
    text-align: center;
}

.user-report h2 {
    margin-bottom: 20px;
}

.user-report p {
    margin: 5px 0;
    font-size: 16px;
}
